*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#virtualenv
.env/
venv/

# resource files that are copied from shared or unused
config.json
filetypes.json
filetypes.xml
findoptions.json
findoptions.xml
