tools/
vendor/

.php_cs.cache

composer.lock

# phpunit
.phpunit.result.cache

# resource files that are copied from shared or unused
config.json
filetypes.json
filetypes.xml
findoptions.json
findoptions.xml
