/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

.eastwood

# resource files that are copied from shared or unused
config.json
filetypes.json
filetypes.xml
findoptions.json
findoptions.xml
