.DS_Store

*.class
target/

# for now
javasearch/src/test/resources/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ
.idea/
*.iml

# Maven artifacts
dependency-reduced-pom.xml

# resource files that are copied from shared or unused
config.json
filetypes.json
filetypes.xml
findoptions.json
findoptions.xml
