.DS_Store

# Java class files
*.class

# Package Files
*.jar
*.war
*.ear

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Maven
dependency-reduced-pom.xml
target/

# Gradle
.gradletasknamecache
.gradle/
build/

# TODO: determine whether these should actually be added
gradle/
gradlew
gradlew.bat

# resource files that are copied from shared or unused
config.json
filetypes.json
filetypes.xml
findoptions.json
findoptions.xml
